/*モバイル向けレイアウト*/
@media screen and (max-width:426px){

    .header{
        &-wrapper{
            padding: 0 1%;
        }

        &-nav{

            ul{
                display: none;       
            }
        }

        &-res-hbg{
            display: block;
        } 

    }

    

    .fv{
        height: 590px;
        background-image: url(img/main_bg_sp.jpg);

        &-wrapper{

        }

        p{
            font-size: 30px;
            padding: 20px;
        }
    }

    .about{
        padding: 0 15px;
        padding-top: 100px;
        &-wrapper{
            height: 452px;
        }

        h3{
            font-size: 20px;
        }
    }

    .service{

    
        &-wrapper{
            display: block;
            text-align: center;
            height: 908px;
        }
    
        &-box-upper{
            display: block;

        }
    
        &-box-under{
            display: block;
    
        }
        
        &-box-right{
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        &-box-left{
            display: block;
            padding-left: 15px;
            padding-right: 15px;
        }

        h3{
            font-size: 15px;
            line-height:50px;
        }

        img{
            max-width: 345px;
            max-height: 150px;
            width: 80%;
        }
    }

    .news{

    
        &-wrapper{

            height: 1187px;
        }

        &-box{
            flex-direction: column;
    
        }
    
        &-box-item{
            max-width: 280px;
            width: 80%;
            border: 1px solid rgb(233, 228, 228);

    
        }

    }

    .form{

    
        &-wrapper{
            padding: 0 15px;
        }

    }



}
