@charset "UTF-8";
.body {
  color: #333333;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Meiryo';
}

a {
  text-decoration: none;
}

.header {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.header-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-style: 26px;
  font-family: 'Franklin Gothic Medium';
  color: white;
  font-weight: bold;
}

.header-nav ul {
  width: 269px;
  height: 21px;
  font-style: 16px;
  font-family: 'Franklin Gothic Medium';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav ul li a {
  color: white;
}

.header-res-hbg {
  color: white;
  display: none;
}

.modal {
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 665px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal-close {
  display: block;
  text-align: right;
}

.modal-close a {
  color: white;
}

.modal-nav {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 60%;
  height: 60%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.modal-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.modal-nav li {
  margin: 30% 0;
}

.modal-nav a {
  color: white;
}

.fv {
  background-image: url(img/main_bg.jpg);
  max-width: 1400px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  /*縦横比保持しつつ、領域を覆う最小サイズになるよう拡大縮小*/
  background-position: center;
  /*画像中央基準で画像表示する*/
}

.fv-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.fv p {
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding: 42px;
  border: 3px solid white;
}

.about {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 150px;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 335px;
  padding: 0 1%;
}

.about-box {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h2 {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}

.about h3 {
  text-align: left;
  font-size: 24px;
  color: black;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 3px;
}

.about p {
  font-size: 14px;
  color: black;
}

.service {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 150px;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 648px;
  padding: 0 1%;
}

.service-box-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service-box-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align-last: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.service-box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align-last: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.service h2 {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}

.service h3 {
  text-align: left;
  font-size: 24px;
  color: black;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 3px;
}

.service p {
  font-size: 14px;
  color: black;
}

.service img {
  max-width: 480px;
  max-height: 240px;
  width: 45%;
  height: auto;
}

.news {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 150px;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 441px;
  padding: 0 1%;
}

.news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-box-item {
  max-width: 320px;
  width: 30%;
  border: 1px solid #e9e4e4;
  margin: 1%;
}

.news h2 {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}

.news h3 {
  text-align: left;
  font-size: 24px;
  color: black;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 3px;
}

.news p {
  font-size: 14px;
  color: black;
  padding: 25px;
}

.news img {
  width: 100%;
  /*親のbox-itemのwidthに合わせる*/
  height: 200px;
}

.form {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 663px;
  padding: 0 1%;
}

.form h2 {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
}

.form p {
  font-size: 16px;
  color: black;
  text-align: left;
  width: 100%;
  display: inline;
}

.module-input-small {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.module-input-big {
  width: 100%;
  height: 171px;
  margin-bottom: 40px;
}

.module-btn {
  width: 200px;
  font-size: 20;
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 30px;
  text-align: center;
  padding: 15px 0px;
  /*ワイズハイト指定だと中文字がセンタリングしない*/
  display: inline-block;
}

.footer {
  max-width: 1400px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  height: 79px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.footer p {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */